*~
.sconsign.dblite
fluid_solver/FluidSolver
structure_solver/StructureSolver
FluidSolver
StructureSolver
.sconf_temp
.settings/
libprecice.so
log.fluid
log.structure
.cproject
.project
EventTimings.log
convergence*
config.log
postProcessingInfo.txt
precice_checkpoint_*
*.o
core
